.listPageWrap {
  width: 100%;
  padding: 20px;
  background-color: var(--color-white);
  overflow: hidden;
  overflow-y: auto;
}
.categoryBox {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.categoryName {
  font-weight: bold;
  font-size: var(--font-size-20);
  color: var(--color-point-1);
}
.contntsUl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.contntsUl li {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: var(--border-radius-4);
  position: relative;
}
.contentsImage {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border-radius: var(--border-radius-4);
  object-fit: cover;
}
.textBox {
  width: 100%;
  max-width: 320px;
  min-width: 100px;
}
.contents {
  font-size: 12px;
  border-radius: var(--border-radius-6);
}
.contentWrap {
  width: 80%;
}
.contentTitle {
  font-size: var(--font-size-15);
  font-weight: bold;
}
.contenCount {
  width: 30px;
}
.rankWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rankWrap p {
  font-size: var(--font-size-18);
  font-weight: bold;
}
