.wrap {
  width: 100%;
  max-width: 380px;
  overflow-x: auto;
  height: 30px;
}
.setBtnBox{
  min-width: 380px;
}
.setBtn {
  padding: 4px 10px;
  border-radius: 1rem;
  border: none;
  color: var(--color-point-1);
  font-size: var(--font-size-15);
  background: transparent;
}
.selected button {
  color: var(--color-gray-f);
  font-weight: bold;
  background-color: var(--color-point-1);
}
