.bannerWrap {
  height: 250px;
  padding: 13px 0 0;
  display: flex;
  background-color: var(--color-white);
}

.slideWrap {
  width: 100%;
  background-color:var(--color-white);
  --swiper-theme-color: var(--color-point-1);
}
