.footerDiv {
  width: 100%;
  max-width: 425px;
  height: 60px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(3px);
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-point-1);
}

.footerDiv img {
  width: 1rem;
  height: 1rem;
}
.footerDiv p {
  font-size: var(--font-size-15);
  font-weight: bold;
}
