:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-3: #333333;
  --color-gray-4: #4c4c4c;
  --color-gray-6: #666666;
  --color-gray-7: #767676;
  --color-gray-8: #8c8c8c;
  --color-gray-9: #999999;
  --color-gray-a: #aaaaaa;
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;
  --color-gray-f: #f6f6f6;

  --color-bg: #ffffff;
  --color-point-1: #002140;
  --color-point-2: #ffdbdc;
  --color-point-3: #ffb0b2;
  --color-point-4: #ea477d;

  --border-radius-3: 0.3rem;
  --border-radius-4: 0.4rem;
  --border-radius-5: 0.5rem;
  --border-radius-6: 0.6rem;
  --border-radius-7: 0.7rem;

  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
}

.wrap {
  max-width: 425px;
  min-width: 300px;
  height: 900px;
  margin: auto;
  background-color: var(--color-bg);
}

.contentsWrap {
  width: 100%;
  min-height: 800px;
  padding-top: 45px;
}
.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex_column_between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
