.wrap {
  max-width: 425px;
  min-width: 300px;
  margin: auto;
}
.headerWrap {
  width: 100%;
}
.bannerWrap {
  height: 250px;
  padding: 13px 0 0;
  display: flex;
  background-color: #fff;
}
.contentsWrap {
  width: 100%;
  height: 615px;
  background-color: #fff;
}