* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  background-color: var(--color-gray-f);
}

a {
  color: #333;
  text-decoration: none;
}

input,
button {
  appearance: none;
}
button{
  cursor: pointer;
}

ul {
  list-style-type: none;
}

div,
p,
span,
a,
input,
textarea,
button,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  color: #333;
}
