.bannerImageWrap {
  width: 90%;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: var(--border-radius-6);
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(85, 85, 85, 0.1);
}
.bannerImage {
  object-fit: cover;
  height: 142px;
}
.onProgress {
  background-color: var(--color-point-1);
}
.finished {
  background-color: var(--color-gray-e);
}
.progress {
  width: 45px;
  height: 21px;
  border-radius: var(--border-radius-4);
  font-size: var(--font-size-13);
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}
.bannerTitleWrap {
  width: 100%;
  height: 57px;
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bannerTitle {
  width: 100%;
}
.bannerTitle h2 {
  width: 245px;
  font-size: var(--font-size-15);
  letter-spacing: 1px;
}

.bannerTitle button {
  width: 63px;
  height: 20px;
  cursor: pointer;
  font-size: var(--font-size-10);
  background-color: var(--color-white);
  border: 1px solid var(--color-point-1);
  border-radius: 1rem;
}
.bannerDate {
  width: 100%;
  font-size: var(--font-size-12);
  text-align: right;
}
